/cute-framework-core/.project
/cute-framework-core/.settings
/cute-framework-core/target
/cute-framework-core/.classpath
/cute-framework-parent/.project
/cute-framework-parent/.settings
.settings
target
.classpath
.project
*/.factorypath
/cute-captcha-plugin/*.factorypath
*/logs