<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiuxs.gconfig.dao.ScGconfigOptionsDao">

	<sql id="allFields">
		`id`,
		`code`,
		`name`,
		`opt_val` as optVal,
		`show_order` as showOrder,
		`created_time` as createdTime,
		`created_by` as createdBy,
		`updated_time` as updatedTime,
		`updated_by` as updatedBy
	</sql>

	<sql id="insertFields">
		`id`,
		`code`,
		`name`,
		`opt_val`,
		`show_order`,
		`created_time`,
		`created_by`,
		`updated_time`,
		`updated_by`
	</sql>

	<select id="list" resultType="com.qiuxs.gconfig.entity.ScGconfigOptions" >
		select
			<include refid="allFields" />
		from `sc_gconfig_options`
		<where>
			<include refid="comnWhere" />
		</where>
		<if test="orderBy != null" >
			order by ${orderBy}
			<if test="orderByDesc != null">
				desc
			</if>
		</if>
	</select>
	
	<select id="getCount" resultType="Long" >
		select 
			IFNULL(count(1), 0)
		from `sc_gconfig_options`
		<where>
			<include refid="comnWhere" />
		</where>
	</select>
	
	<sql id="comnWhere">
		<if test="id != null">
			`id` = #{id}
		</if>
		<if test="code != null">
			 and `code` = #{code}
		</if>
		<if test="name != null">
			 and `name` = #{name}
		</if>
		<if test="optVal != null">
			 and `opt_val` = #{optVal}
		</if>
		<if test="showOrder != null">
			 and `show_order` = #{showOrder}
		</if>
		<if test="createdTime != null">
			 and `created_time` = #{createdTime}
		</if>
		<if test="createdBy != null">
			 and `created_by` = #{createdBy}
		</if>
		<if test="updatedTime != null">
			 and `updated_time` = #{updatedTime}
		</if>
		<if test="updatedBy != null">
			 and `updated_by` = #{updatedBy}
		</if>
	</sql>

	<select id="getByIds" resultType="com.qiuxs.gconfig.entity.ScGconfigOptions" >
		select <include refid="allFields" /> from `sc_gconfig_options` where id in
		<foreach collection="list" item="item" open="(" separator="," close=")" >
			#{item}
		</foreach>
	</select>

	<select id="get" resultType="com.qiuxs.gconfig.entity.ScGconfigOptions" >
		select <include refid="allFields" /> from `sc_gconfig_options` where id = #{id}
	</select>
	
	<select id="getCountByUk" resultType="Long">
		select 
			IFNULL(count(1), 0)
		from `sc_gconfig_options`
		<where>
			<include refid="ukWhere" />
		</where>
	</select>
	
	<select id="getByUk" resultType="com.qiuxs.gconfig.entity.ScGconfigOptions">
		select
			<include refid="allFields" />
		from `sc_gconfig_options`
		<where>
			<include refid="ukWhere" />
		</where>
	</select>
	
	<sql id="ukWhere">
		<if test="idNe != null" >
			and id &lt;&gt; #{idNe}
		</if>
		<if test="code != null">
			and `code` = #{code}
		</if>
		<if test="optVal != null">
			and `opt_val` = #{optVal}
		</if>
	</sql>
	
	<delete id="deleteById" parameterType="Long" >
		delete from `sc_gconfig_options` where id = #{id}
	</delete>

	<insert id="insert" parameterType="com.qiuxs.gconfig.entity.ScGconfigOptions">
		insert into `sc_gconfig_options`(<include refid="insertFields" />)
		values(
			#{id},
			#{code},
			#{name},
			#{optVal},
			#{showOrder},
			#{createdTime},
			#{createdBy},
			#{updatedTime},
			#{updatedBy}
		)
	</insert>

	<insert id="insertInBatch" parameterType="java.util.List" >
		insert into `sc_gconfig_options`(<include refid="insertFields" />)
		values
		<foreach collection="list" item="item" separator="," >
			(
				#{item.id},
				#{item.code},
				#{item.name},
				#{item.optVal},
				#{item.showOrder},
				#{item.createdTime},
				#{item.createdBy},
				#{item.updatedTime},
				#{item.updatedBy}
			)
		</foreach>
	</insert>

	<update id="update" parameterType="com.qiuxs.gconfig.entity.ScGconfigOptions" >
		update `sc_gconfig_options` 
			<set>
				<include refid="setComn" />
			</set>
		where id = #{id}
	</update>

	<sql id="setComn" >
		<if test="code != null" >
			`code` = #{code},
		</if>
		<if test="name != null" >
			`name` = #{name},
		</if>
		<if test="optVal != null" >
			`opt_val` = #{optVal},
		</if>
		<if test="showOrder != null" >
			`show_order` = #{showOrder},
		</if>
		<if test="createdTime != null" >
			`created_time` = #{createdTime},
		</if>
		<if test="createdBy != null" >
			`created_by` = #{createdBy},
		</if>
		<if test="updatedTime != null" >
			`updated_time` = #{updatedTime},
		</if>
		<if test="updatedBy != null" >
			`updated_by` = #{updatedBy}
		</if>
	</sql>
</mapper>