<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiuxs.captcha.dao.CaptchaDao">
	
	<select id="getBySessionKey" resultType="com.qiuxs.captcha.entity.Captcha">
		select 
			<include refid="allFields" />
		from `cute_captcha`
		where session_key = #{sessionKey}
	</select>
	
	<sql id="allFields">
		`id`,
		`session_key` as sessionKey,
		`ip`,
		`captcha`,
		`time_limit` as timeLimit,
		`created_time` as createdTime
	</sql>

	<sql id="insertFields">
		`id`,
		`session_key`,
		`ip`,
		`captcha`,
		`time_limit`,
		`created_time`
	</sql>

	<select id="list" resultType="com.qiuxs.captcha.entity.Captcha" >
		select
			<include refid="allFields" />
		from `cute_captcha`
		<where>
			<include refid="comnWhere" />
		</where>
		<if test="orderBy != null" >
			order by ${orderBy}
			<if test="orderByDesc != null and orderByDesc == true">
				desc
			</if>
		</if>
	</select>
	
	<select id="getCount" resultType="Long" >
		select 
			count(1) 
		from `cute_captcha`
		<where>
			<include refid="comnWhere" />
		</where>
	</select>

	<sql id="comnWhere">
		<if test="id != null">
			`id` = #{id}
		</if>
		<if test="sessionKey != null">
			 and `session_key` = #{sessionKey}
		</if>
		<if test="ip != null">
			 and `ip` = #{ip}
		</if>
		<if test="captcha != null">
			 and `captcha` = #{captcha}
		</if>
		<if test="timeLimit != null">
			 and `time_limit` = #{timeLimit}
		</if>
		<if test="createdTime != null">
			 and `created_time` = #{createdTime}
		</if>
	</sql>

	<select id="getByIds" resultType="com.qiuxs.captcha.entity.Captcha" >
		select <include refid="allFields" /> from `cute_captcha` where id in
		<foreach collection="list" item="item" open="(" separator="," close=")" >
			#{item}
		</foreach>
	</select>

	<select id="get" resultType="com.qiuxs.captcha.entity.Captcha" >
		select <include refid="allFields" /> from `cute_captcha` where id = #{id}
	</select>

	<delete id="deleteById" parameterType="Long" >
		delete from `cute_captcha` where id = #{id}
	</delete>

	<insert id="insert" parameterType="com.qiuxs.captcha.entity.Captcha">
		insert into `cute_captcha`(<include refid="insertFields" />)
		values(
			#{id},
			#{sessionKey},
			#{ip},
			#{captcha},
			#{timeLimit},
			#{createdTime}
		)
	</insert>

	<insert id="insertInBatch" parameterType="java.util.List" >
		insert into `cute_captcha`(<include refid="insertFields" />)
		values
		<foreach collection="list" item="item" separator="," >
			(
				#{item.id},
				#{item.sessionKey},
				#{item.ip},
				#{item.captcha},
				#{item.timeLimit},
				#{item.createdTime}
			)
		</foreach>
	</insert>

	<update id="update" parameterType="com.qiuxs.captcha.entity.Captcha" >
		update `cute_captcha` 
			<set>
				<include refid="setComn" />
			</set>
		where id = #{id}
	</update>

	<sql id="setComn" >
		<if test="sessionKey != null" >
			`session_key` = #{sessionKey},
		</if>
		<if test="ip != null" >
			`ip` = #{ip},
		</if>
		<if test="captcha != null" >
			`captcha` = #{captcha},
		</if>
		<if test="timeLimit != null" >
			`time_limit` = #{timeLimit},
		</if>
		<if test="createdTime != null" >
			`created_time` = #{createdTime}
		</if>
	</sql>
</mapper>