<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="cutelog" packages="org.apache.logging.log4j.test">
	<Properties>
		<Property name="RollingFileName">../../logs/${rootArtifactId}/mylog</Property>
		<Property name="logHome">../../logs/${rootArtifactId}</Property>
	</Properties>

	<Appenders>
		<Console name="STDOUT">
			<PatternLayout pattern="%d{MM-dd HH:mm:ss.SSS} %-5p [%t] %C{1}.%M:%L: %m %X%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="${RollingFileName}" filePattern="${logHome}/mylog-%d{yyyy-MM-dd}">
			<PatternLayout>
				<pattern>%d{MM-dd HH:mm:ss.SSS} %-5p [%t] %C{1}.%M:%L: %m %X%n</pattern>
			</PatternLayout>
			<TimeBasedTriggeringPolicy interval="1" modulate="true" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="org.springframework.web.servlet" level="info">
		</Logger>
		<Logger name="com.qiuxs.cuteframework.core.log.Console" level="debug"></Logger>
 		<Logger name="com.qiuxs" level="info">
		</Logger>
 		<Logger name="org" level="info">
		</Logger>
 		<Logger name="NoDbLogger" level="info">
		</Logger>
		<Logger name="RocketmqClient" level="WARN"/>
		<Root level="info">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>

</Configuration>