<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 需要使用二级缓存时去掉下面的注释 -->
	<!-- <settings> <setting name="cacheEnabled" value="true" /> </settings> -->
	<!-- 此配置仅用于配置全局mybatis变量，比如别名、拦截器、插件之类的 -->
	<!-- <plugins>
		<plugin
			interceptor="com.qiuxs.tech.mybatis.interceptor.MyBatisStatementHandlerInterceptor" />
	</plugins> -->
</configuration>