<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/jdbc
           http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
           http://www.springframework.org/schema/tx
     	   http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 采用注释的方式配置bean -->
	<context:annotation-config />
	<!-- 配置要扫描的包 -->
	<context:component-scan base-package="com.qiuxs" />

	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>org.sqlite.JDBC</value>
		</property>
		<property name="url">
			<value>jdbc:sqlite:junit_test.db</value>
		</property>
		<property name="maxTotal">
			<value>20</value>
		</property>
		<property name="initialSize">
			<value>5</value>
		</property>
		<property name="maxIdle" value="10" />
		<property name="minIdle" value="1" />
		<property name="removeAbandonedOnMaintenance" value="true" />
		<property name="removeAbandonedTimeout" value="60" />
		<property name="softMinEvictableIdleTimeMillis" value="180000" />
		<property name="maxWaitMillis">
			<value>3000</value>
		</property>
		<property name="testOnBorrow">
			<value>true</value>
		</property>
		<property name="validationQuery">
			<value>select 1</value>
		</property>
	</bean>
	
	<jdbc:initialize-database data-source="dataSource" ignore-failures="NONE">
        <jdbc:script location="classpath:test_schema.sql"/>
        <jdbc:script location="classpath:test_data.sql"/>
    </jdbc:initialize-database>
	
	<!-- 配置SessionFactory，使用上面的数据源作为数据库连接 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"><!-- org.mybatis.spring.SqlSessionFactoryBean -->
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations">
			<array>
				<value>classpath*:/com/**/mapper/*.xml</value>
			</array>
		</property>
		<property name="configLocation" value="classpath:mybatis_config.xml"></property>
	</bean>

	<!-- 配置SqlSessionTemplate -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- 声明式事务管理 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 使用annotation注解方式配置事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- 自动扫描映射类(Dao类)，省得手动配置，比如UserDao -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.qiuxs.**.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<property name="sqlSessionTemplateBeanName" value="sqlSessionTemplate" />
		<property name="annotationClass" value="com.qiuxs.cuteframework.tech.mybatis.dao.MyBatisRepository" />
	</bean>

	<aop:config proxy-target-class="true" />
	<aop:aspectj-autoproxy proxy-target-class="true" />

</beans>