#my-mask {
	display: none;
	background-color: #CCC;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 999;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	padding: 20%;
}
#my-mask img {
	width: 5%;
	margin: 0px auto;
	display: block;
}